{% extends 'layout.html.twig' %}

{% block title %}RaspiPlant | Board{% endblock %}

{% block page_title %}
    RaspiPlant Board
    <small>Your RaspiPlant Board </small>
{% endblock %}

{% block page_breadcrumb %}                                
    <li>
        <a href="{{path('board.dashboard.main')}}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{path('board.board.main')}}">Board</a>
        <i class="fa fa-circle"></i>
    </li>
{% endblock %}

{% block page_content %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        Board ..........
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
